---
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const allPosts = await Astro.glob('../posts/*.md');

  return [
    { params: { tag: "astro" }},
    { params: { tag: "éxitos" }},
    { params: { tag: "comunidad" }},
    { params: { tag: "bloguear" } },
    { params: { tag: "contratiempos" }},
    { params: { tag: "aprender en público" } },
  ]
}

const { tag } = Astro.params;
const { posts } = Astro.props;
//const filteredPosts = posts.filter((post) => post.frontmatter.tags?.includes(tag));

---
<BaseLayout pageTitle={tag}>
  <p>Entradas etiquetadas con {tag}</p>
   <ul>
    <!--{filteredPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}-->
  </ul>
</BaseLayout>