---
import Layout from '../layouts/Layout.astro';

---
<a href="/">Inicio</a>
<a href="/about/">Sobre mi</a>
<a href="/blog/">Blog</a>
<Layout>

    <body class="h2">
        <body>
            <h1>Blog personal</h1>
          
    </body>
</Layout>

